artifacts/
dist/
backups/
analysis/
refs/
**/bin/
**/obj/
**/.cache/
vendor/bepinex788/
vendor/doorstop-source/
vendor/offline-sources/
vendor/*.zip
!native/UnityDoorstop/*.zip
*.user
*.suo
StorageV1/
GameAssembly.dll
global-metadata.dat
WorldApart.exe